#problems {
  text-align: center;
  border-collapse: collapse;
  border: 3px solid #ddd;
  width: 100%;
}

#problems td, #problems th {
  border: 1px solid #ddd;
  padding: 8px;
}

#problems tr:nth-child(even){background-color: #f2f2f2;}

#problems tr:hover {background-color: #ddd;}

#problems th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: dodgerblue;
  color: white;
}
