.stats {
  margin: 1em 1em 3em 1em;
  text-align: center;
}

.stats h3 {
  font-weight: lighter;
  margin-bottom: 20px;
}

.stats ul {
  text-align: center;
  list-style-type: none;
}

.stats li {
  font-size: 18px;
}
