.header {
    background-color: lightskyblue;
    width: 100%;
    height: 100px;
    font-weight: bold;
}

.titleDiv {
    display: flex;
    justify-content: flex-start;
    height: 100%;
    width: 30%;
    margin-left: 5%;
    font-family: Consolas, serif;
    font-size: 20px;
}

.nav {
    display: flex;
    justify-content: flex-start;
    margin-top: 2%;
    margin-right: 5%;
}

.nav a {
    display: inline-block;
    color: darkgoldenrod;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 0.5em 1em 0.5em 1em;
    margin-left: 1em;
    font-size: 20px;
    text-decoration: none;
    border: 5px solid transparent;
    transition: transform .2s;
}

.nav a:hover {
    transform: scale(1.1);
}
