.profileUpdate {
    width: 100%;
    max-width: 40em;
    padding: 1em 2em 1em 2em;
    margin: 2em auto 2em auto;
    text-align: center;
}

.profileUpdate h2 {
    margin-top: 0.5em;
    margin-bottom: 1em;
}